// :root {
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 1400px;
  height: 100px;
  margin: 0 auto;
  padding: 10px 0;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .nav-container__logo {
      display: flex;
      align-items: center;
      width: 160px;

      .nav-logo {
        width: 100%;
      }
    }

    .nav-list__container {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 100px;
    }
  }
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;

  .content-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 400px repeat(auto-fill, 400px);
    gap: 20px;

    .element {
      display: flex;

      .element-image__container {
        width: 180px;
        height: 180px;

        .element-image {
          width: 100%;
        }
      }

      .element-info__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
      }
    }
  }
}
